<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="activity.fluorescence.zjgy.com.fluorescence">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SelfActivity"
            android:label="自检界面">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"
            android:label="登录界面">
            <intent-filter>
                <action android:name="loginActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:label="主界面">
            <intent-filter>
                <action android:name="mainActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".CheckActivity"
            android:label="检测界面">
            <intent-filter>
                <action android:name="checkActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".CheckChartActivity"
            android:label="结果界面">
            <intent-filter>
                <action android:name="checkChartActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".QueryActivity"
            android:label="查询界面">
            <intent-filter>
                <action android:name="queryActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".QueryChartActivity"
            android:label="详情界面">
            <intent-filter>
                <action android:name="queryChartActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SetActivity"
            android:label="设置界面">
            <intent-filter>
                <action android:name="setActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SetDataActivity"
            android:label="数据管理界面">
            <intent-filter>
                <action android:name="setDataActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SetItemActivity"
            android:label="项目管理界面">
            <intent-filter>
                <action android:name="setItemActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SetUserActivity"
            android:label="用户管理界面">
            <intent-filter>
                <action android:name="setUserActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SetTimeActivity"
            android:label="时间设置界面">
            <intent-filter>
                <action android:name="setTimeActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>